html {
}
#textbox {
  height: 5vh;
  background-color: #0c0b0f;
  color:#ffffff;
  bottom: 0;
  position: fixed;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 100%;
}

#text {
  white-space: pre-wrap;
}

h1 {
  color:aqua

}
p{
color: aqua;
overflow:scroll;
}

#submitbutton {
  margin: auto;
  width: 25%;
  background-color: aqua;
  border: 3px solid rgb(0, 0, 0);
  padding: 10px;
  position: absolute;
  bottom: 0%;

}
.center {
  margin: 0;
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

body {
  background-color: #000;
}
.text-primary {
  color: #0daefd;

}

