html {
}
#textbox {
  height: 5vh;
  width: 100vw;
  margin-left: 2vw;
  background-color: #0c0b0f;
  color:#ffffff;
  position: fixed;
  bottom: 10vh;

}

#text {
  white-space: pre-wrap;
}

h1 {
  color:aqua

}
p{
color: aqua
}

#submitbutton {
  margin: auto;
  width: 25%;
  background-color: aqua;
  border: 3px solid rgb(0, 0, 0);
  padding: 10px;
  position: absolute;
  bottom: 0%;

}
.center {
  margin: 0;
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

body {
  background-color: #000;
}